/* Estilos generales */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0B0B45;
    color: #fff;
}

/* Estilos de encabezado */
header {
    background-color: #00008B;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #fff;
}

/* Estilos de descripción en el encabezado */
header p {
    margin: 0;
    font-size: 1.2rem;
}

/* Estilos de secciones */
section {
    padding: 2rem;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #0B0B45;
}

section h2 {
    margin-top: 0;
    color: #0B0B45;
}

/* Estilos para el botón de silencio */
#muteButton {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;
    background-image: url(images/sound_on.png);
    background-size: cover;
    text-indent: -9999px;
}

/* Estilos para el menú de navegación */
#nav-section {
    background-color: #0B0B45;
    position: sticky;
    top: 0;
    border-radius: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff9900;
}

/* Estilos para listas */
.list-section ul {
    list-style: none;
    padding-left: 0;
}

.list-section li {
    margin: 0 0 10px;
    position: relative;
}

.list-section li::before {
    content: "\2022";
    color: #0B0B45;
    position: absolute;
    left: -1.2em;
}

/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

/* Estilo para la fila de encabezado de la tabla */
th {
    background-color: #0B0B45;
    color: #fff;
    font-weight: bold;
}

/* Estilos para los logotipos de redes sociales */
.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-link {
    margin: 0 10px;
    text-decoration: none;
    display: block;
}

.social-link img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-link:hover img {
    transform: scale(1.1);
}

/* Estilos para el formulario de contacto */
#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #0B0B45;
}

#contact-form label,
#contact-form input,
#contact-form textarea {
    margin-bottom: 10px;
}

#contact-form button {
    background-color: #0B0B45;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilos para los enlaces en el formulario de contacto */
#contact-form a {
    color: #0B0B45;
    text-decoration: none;
    transition: color 0.3s ease;
}

#contact-form a:hover {
    color: #ff9900;
}